
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="page-section pb--10 pt--50">
    <div class="container">
      
        <div class="row">

            <div class="offset-2 col-md-6 col-xs-6 col-lg-6 mb-30">
                <form action="Register" method="post">

                    <h4 class="login-title text-center">Kayıt Ol</h4>
                    <div class="login-form">
                        <div class="row">
                            <div class="col-md-12 col-12 mb--20">
                                <label>Email Address*</label>
                                <input class="mb-0" type="email" name="Email">
                            </div>
                            <div class="col-12 mb--20">
                                <label>Şifre</label>
                                <input class="mb-0" type="password" name="Pass">
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-black">Kayıt</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

