
@{
    ViewBag.Title = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="row">

        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">

                <div class="card-body">
                    <label><b>Sipariş Durumu</b></label>
                    <form class="forms-sample" method="post">
                        <div class="form-group">
                            <label>Tanım</label>
                            <input type="text" class="form-control" name="Definition" placeholder="Tanım">
                        </div>

                        <div class="form-group">
                            <label>Detay</label>
                            <input type="text" name="Detail" class="form-control" required />
                        </div>


                        <button type="submit" class="btn btn-success mr-2" id="productAdd">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12 grid-margin stretch-card">
            <div class="col-md-12 ">


                @Html.Action("GetStatus", "OrderTracking")


            </div>

        </div>

    </div>

</div>


